################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/EricCoisa/CopilotIndices/17.13.444.19527
/.vs/EricCoisa/FileContentIndex
/.vs
